/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$SecondaryColor: #3c87ff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $SecondaryColor;
}